<mbp:pagebreak/>
<idx:entry name="word" scriptable="yes">
    <h2>
        <idx:orth>isa
	  <idx:infl inflgrp="noun">
  	    <idx:iform name="sg n" value="isa"/>
   	    <idx:iform name="pl n" value="isad"/>
	    <idx:iform name="pl g" value="isade"/>
	    <idx:iform name="pl kom" value="isadega"/>
	    <idx:iform name="pl tr" value="isadeks"/>
	    <idx:iform name="pl ad" value="isadel"/>
	    <idx:iform name="pl all" value="isadele"/>
	    <idx:iform name="pl abl" value="isadelt"/>
	    <idx:iform name="pl es" value="isadena"/>
	    <idx:iform name="pl ter" value="isadeni"/>
	    <idx:iform name="pl in" value="isades"/>
	    <idx:iform name="pl ill" value="isadesse"/>
	    <idx:iform name="pl el" value="isadest"/>
	    <idx:iform name="pl ab" value="isadeta"/>
	    <idx:iform name="sg kom" value="isaga"/>
	    <idx:iform name="sg tr" value="isaks"/>
	    <idx:iform name="sg ad" value="isal"/>
	    <idx:iform name="sg all" value="isale"/>
	    <idx:iform name="sg abl" value="isalt"/>
	    <idx:iform name="sg es" value="isana"/>
	    <idx:iform name="sg ter" value="isani"/>
	    <idx:iform name="sg in" value="isas"/>
	    <idx:iform name="pl p" value="isasid"/>
	    <idx:iform name="sg ill" value="isasse"/>
	    <idx:iform name="sg el" value="isast"/>
	    <idx:iform name="sg ab" value="isata"/>
	  </idx:infl>
	  
	</idx:orth><idx:key key="isa"/>
    </h2>
    Father, begetter, father, old man
    
</idx:entry>
<mbp:pagebreak/>
